@font-face { /* Fonte Anã */
    font-family: 'FonteAnaDnD';
    src: url('./Fontes/Anao.ttf'); 
}

@font-face { /* Fonte Draconica */
    font-family: 'FonteDraconatoDnD';
    src: url('./Fontes/Draconato.ttf'); 
}

@font-face { /* Fonte Elfica */
    font-family: 'FonteElfoDnD';
    src: url('./Fontes/Elfo.ttf'); 
}

@font-face { /* Fonte Infernal */
    font-family: 'FonteInfernalDnD';
    src: url('./Fontes/Infernal.ttf'); 
}

@font-face { /* Sigilos do outro lado */
    font-family: 'FonteSigilos';
    src: url('./Fontes/Sigilos.ttf');
}

body {
    background-color: #f1f1f1;
    color: #010101;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    resize: none;
    font-family: 'Arial', serif;
    font-size: 20px;
    border: 1px solid #777;
    padding: 20px;
    margin: 5px;
    width: auto;
    min-width: 760px;
    min-height: 100px;
    word-wrap: break-word;
}

.texto-geral {
    text-align: center;
    font-size: 20px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.texto-geral p {
    text-align: justify;
    font-size: 16px;
    margin: 10px 0;
}

.texto-comum {
    width: auto;
    min-width: 760px;
    height: auto;
    margin-bottom: 20px;
    border: 1.5px solid;
    border-color: #110805;
    background-color: #ffffff;
}

.texto-comum select {
    margin-top: 2px;
    border-radius: 7px;
    font-size: 15px;
    background-color: #f5f5f5;
    color: #000000;
}

.texto-comum label {
    margin: 3px;
    font-size: 15px;
    color: #000000;
}

#saida {
    white-space: pre-wrap; 
    word-wrap: break-word; 
}

/* A partir daqui são as fontes*/
.fonte-comum {
    font-family: 'Arial', serif;
    font-size: 20px;
    border: 1px solid #777;
    padding: 20px;
    margin: 5px;
    width: auto;
    min-height: 100px;
    word-wrap: break-word;
}

.fonte-ana {
    font-family: 'FonteAnaDnD', serif;
    font-size: 43px;
    border: 1px solid #777;
    padding: 20px;
    margin: 5px;
    width: auto;
    min-height: 100px;
    word-wrap: break-word;
}

.fonte-draconica {
    font-family: 'FonteDraconatoDnD', serif;
    font-size: 30px;
    border: 1px solid #777;
    padding: 20px;
    margin: 5px;
    width: auto;
    min-height: 100px;
    word-wrap: break-word;
}

.fonte-elfica {
    font-family: 'FonteElfoDnD', serif;
    font-size: 40px;
    border: 1px solid #777;
    padding: 20px;
    margin: 5px;
    width: auto;
    min-height: 100px;
    word-wrap: break-word;
}

.fonte-infernal {
    font-family: 'FonteInfernalDnD', serif;
    font-size: 2rem;
    border: 1px solid #777;
    padding: 20px;
    margin: 5px;
    width: auto;
    min-height: 100px;
    word-wrap: break-word;
}

.fonte-sigilos {
    font-family: 'FonteSigilos', serif;
    font-size: 35px;
    border: 1px solid #777;
    padding: 20px;
    margin: 5px;
    width: auto;
    min-height: 100px;
    word-wrap: break-word;
}